<p> Hello there!</p>
<form action="/" method="post">


  <label for="name"> What is your name? <input type="text" name="name">
  </label>

  <!-- <label for="bday"> When is your birthday? <input type="text" name="bday">
  </label> -->

  <input type="submit" value="Submit">
</form>
